.features{
    
    grid-column: center-start/center-end;
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-auto-columns: max-content max-content max-content max-content;
    grid-gap: 8rem;
    margin: 12rem 0;
    padding: 3rem;
    color: $color-grey-dark-1;
    font-weight: 300;
       
    &in{
      
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-gap:1rem;


        svg{
            height: 4rem;
            width: 4rem;
            grid-row: 1/span 2;
            transform: translateY(-2rem);
            fill: $color-primary-dark;
        }
        p{
            font-size: 1.7rem;
            line-height: 1.75;
        }

    }

}
