.story{
    &-couple{
         /*background-image: linear-gradient(rgba(83, 165, 62, 0.671),rgba(63, 177, 28, 0.651)),url('../img/back.jpg');
         background-size: cover;
        //grid-column: 2/7;
        grid-column: full-start / col-end 4;
        grid-row: 3/4;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(6,1fr);
        align-items:center;
        */
        background-color: $color-primary;
        grid-column: full-start / col-end 4;
        background-image: linear-gradient(rgba($color-primary, .5), rgba($color-primary, .5)), url(../img/back.jpg);
        background-size: cover;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
       
          @media only screen and(max-width:450px){
            
            margin-top: 8rem;
          }
        @media only screen and(max-width:$bp-med){
            grid-column: 1/-1;
            padding: 10rem;
          }
        .img1{
            grid-area:2/2/6/6;
            
            @media only screen and (max-width: $bp-med) {
                grid-column: 1 / 5;
                grid-row: 1 / -1;
            }
        } 
        .img2{
            grid-area:4/4/6/-1;
            width: 120%;
            @media only screen and (max-width: $bp-med) {
                grid-row: 1 / -1;
                width: 100%;
            }
        }
            
            img{
            width: 100%;
        
            
    
    }
       

    }
    &-content{
 
        //grid-column: 7/-1;
        grid-column: col 5 / full-end;
        @media only screen and(max-width:$bp-med){
            grid-column: 1/-1;
            grid-row:5/6;
            margin-bottom: 4rem;
          }
          
        padding: 6rem;
        display: grid;
       align-content: center;
        justify-items: start;
        grid-gap: 3rem;
        margin: 4rem;
        
     P{
         font-size: 1.8rem;;
     }
        
       
    }
}